<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Form </title>
</head>
<body>
    <h3>Enter The details to delete the post</h3>
    <form method="post" action="/user/<%=user.id%>/Delete?_method=DELETE">
        <input type="text" name="username" placeholder="username">
        <br>
        <input type="password" name="password" placeholder="password">
        <br>
        <button>DELETE POST</button>
    </form>
</body>
</html>