<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding New User</title>
</head>
<body>
 <h3>Enter details to add a new user</h3>
    <form method="post" action="/user/post">
        <input type="text" name="id" placeholder="Enter ID">
        <br>
        <input type="text" name="email" placeholder="enter email">
        <br>
        <input type="text" name="username" placeholder="enter username">
        <br>
        <input type="password" name="password" placeholder="password">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>